<div class="row">

    <div class="col s4" ng-repeat="person in people">

        <div class="card yellow lighten-4">

            <div class="card-content black-text">

                <span class="card-title">{{ person.name }}</span>
                <p>{{ person.email }}</p>

            </div>

            <div class="card-action">

                <a href="/person/{{ person.id }}" class="black-text">Detalhes  <i class="material-icons right">send</i></a>

            </div>
        </div>
    </div>
</div>
