<div class="row">

    <div class="col s6 offset-s3">

        <div class="card">

            <div align="center" class="card-content black-text" id="person">

                <span class="card-title"> {{ person.name }} </span>
                <p> {{person.email}} </p>
                <p> {{person.birthDate}} </p>
                <br>
                <a href="#" ng-click="formUpdatePerson()">Editar<i class="material-icons">edit</i></a>
                <a href="#" ng-click="deletePerson(person)">Excluir<i class="material-icons">delete</i></a>

            </div>

            <div class="card-content black-text hide" id="formUpdatePerson">

                <form ng-submit="updatePerson()">

                    <div class="row">

                        <div class="input-field col s6 offset-s3">

                            <h5 class="title">Nome:</h5>
                            <input type="text" id="name" ng-model="personUpdate.name" value="personUpdate.name">

                        </div>

                    </div>
                    <div class="row">

                        <div class="input-field col s6 offset-s3">

                            <h5 class="title">Email:</h5>
                            <input type="email" id="email" ng-model="personUpdate.email" value="personUpdate.email" disabled>

                        </div>

                    </div>
                    <div class="row">

                        <div class="input-field col s6 offset-s3">

                            <h5 class="title">Data de nascimento:</h5><small>(yyyy-mm-dd)</small>
                            <input type="text" id="birthDate" ng-model="personUpdate.birthDate" value="personUpdate.birthDate">

                        </div>

                    </div>

                    <div align="center">

                        <input type="submit" class="submit-btn btn waves-effect waves-light red lighten-2" value="Enviar">
                        <input type="button" class="submit-btn btn waves-effect waves-light red lighten-2" value="Cancelar" ng-click="cancelUpdatePerson()">

                    </div>

                </form>

            </div>
            <hr>
            <div class="card-content">

                <h5>Experiencias profissionais:</h5>

                <a href="#" ng-click="addProExp()"><i class="material-icons right">add_circle</i></a>
                <br>

                <form ng-submit="createProfessionalExperience()" id="proExpForm" class="hide">

                    <div class="input-field col s6">

                        <input type="text" id="company" ng-model="proExp.company">
                        <label for="company">Empresa</label>

                    </div>

                    <div class="input-field col s12">

                        <textarea class="materialize-textarea" type="text" id="activities" ng-model="proExp.activities"></textarea>
                        <label for="activities">Atividades</label>

                    </div>
                    <div class="row">

                        <div class="input-field col s12">

                            <input type="submit" class="submit-btn btn waves-effect waves-light red lighten-2" value="Enviar">
                            <input type="button" class="submit-btn btn waves-effect waves-light red lighten-2" value="Cancelar" ng-click="cancelAddProExp()">

                        </div>

                    </div>

                </form>

                <ul class="collection">

                    <style>
                        .collection-item{
                            overflow: hidden;
                        }
                    </style>

                    <li class="collection-item avatar" ng-if="person.professionalExperienceList.length != 0" ng-repeat="pe in person.professionalExperienceList">

                        <div id="proExp{{pe.id}}">

                            <h5> {{ pe.company }} </h5>
                            <p> {{ pe.activities }} </p>


                            <div class="secondary-content">

                                <a href="#" ng-click="updateProExp(pe)"><i class="material-icons">edit</i></a>

                            </div>

                        </div>

                        <form ng-submit="updateProfessionalExperience(pe)" id="updateProExpForm{{pe.id}}" class="hide">

                            <div class="input-field col s6">

                                <span class="title">Empresa:</span><br>
                                <input type="text" id="updateCompany" ng-model="proExpUpdate.company" value="{{ proExpUpdate.company }}">

                            </div>

                            <div class="input-field col s12">

                                <span class="title">Atividades realizadas:</span><br>
                                <textarea class="materialize-textarea" type="text" id="updateActivities" ng-model="proExpUpdate.activities" value="{{ proExpUpdate.activities }}"></textarea>

                            </div>

                            <div class="input-field col s12">

                                <input class="submit-btn btn waves-effect waves-light red lighten-2" type="submit" value="Enviar">
                                <input class="submit-btn btn waves-effect waves-light red lighten-2" type="button" ng-click="cancelUpdateProExp(pe)" value="Cancelar">

                            </div>

                        </form>

                    </li>

                    <li ng-if="person.professionalExperienceList.length == 0">

                        <br>
                        <p align="center">Nenhuma experiencia profissional encontrada</p>
                        <br>

                    </li>

                </ul>

            </div>

        </div>

    </div>

</div>


