<div class="container">

    <div class="row"><!--------- NEW PERSON ----------->

        <div class="col s8 offset-s2">

            <h5>Insira uma nova pessoa:</h5>

            <div class="row">

                <form class="col s12" ng-submit="processFormPerson()">

                    <div class="row"> <!-- NAME -->

                        <div class="input-field col s12">

                            <i class="material-icons prefix">account_circle</i>
                            <input type="text" id="name" class="validate" ng-model="formPerson.name"/>
                            <label for="name">Nome completo</label>

                        </div>

                    </div>

                    <div class="row"><!-- EMAIL -->

                        <div class="input-field col s12">

                            <i class="prefix material-icons">email</i>
                            <input id="email" type="email" class="validate" ng-model="formPerson.email"/>
                            <label for="email" data-error="Incorreto" data-success="Correto">Email</label>

                        </div>

                    </div>

                    <div class="row"><!-- BIRTHDATE -->

                        <div class="col s12 offset-s3">

                            Data de Nascimento:
                            <div class="input-field inline">

                                <input id="birthDate" type="date" ng-model="formPerson.birthDate"/>

                            </div>

                        </div>

                    </div>

                    <div class="row"><!-- SUBMIT -->

                        <div class="col s2 offset-s5">

                            <button class="btn waves-effect waves-light red lighten-2" type="submit" name="action">Enviar
                                <i class="material-icons right">send</i>
                            </button>

                        </div>

                    </div>

                </form>

            </div><!-- END ROW -->

        </div><!-- END COL S8 -->

    </div> <!--------- NEW PERSON END ----------->
</div><!-- CONTAINER -->