<!DOCTYPE html>
<!--
  Created by IntelliJ IDEA.
  User: michelvasconcelos
  Date: 05/07/17
  Time: 10:54
  To change this template use File | Settings | File Templates.
-->

<html ng-app="app">
    <head>

        <!-- Ponto de partida do esquema de rotas -->
        <base href="/">

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- CSS -->
        <link type="text/css" rel="stylesheet" href="css/styles.css">
        <link type="text/css" rel="stylesheet" media="screen,projection" href="bower_components/materialize/dist/css/materialize.min.css">

    </head>
    <body>

        <div class="row" ng-controller="searchController"> <!--------- NAVBAR ----------->
            <nav>
                <div class="nav-content">
                    <a href="http://localhost:80" class="brand-logo center">Training Project</a>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                    </ul>
                </div>
            </nav>

            <nav>
                <div class="nav-wrapper">
                    <form ng-submit="processSearch()">
                        <div class="input-field">
                            <input id="search" type="search" required ng-model="searchForm">
                            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                </div>
            </nav>
        </div> <!--------- NAVBAR END ----------->

        <div ng-view></div>

        <!-- SCRIPTS -->
        <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="bower_components/materialize/dist/js/materialize.js"></script>
        <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="js/custom.js"></script>

        <!-- ANGULAR STUFF -->
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/controllers/search-controller.js"></script>
        <script type="text/javascript" src="js/controllers/signup-person.js"></script>
        <script type="text/javascript" src="js/controllers/disambiguation-controller.js"></script>
        <script type="text/javascript" src="js/controllers/person-controller.js"></script>

    </body>
</html>
